body {
    background: #eee;
  }
  .Container {
    width: 80%;
    margin:20px auto;
  }
  .Carousel {
    border: 2px solid #416be4;
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .Slider {
    display: flex;
    height: 100%;
    width: 400%;
  
  }
  .Slider section {
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    transition:all 0.3s
    
  }
  .Left, .Right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .Arrow i {
    font-size: 70px;
    -webkit-user-select: none;
    color: #416be4;
  }
  .Left {
    left: 10px;
  }
  .Right {
    right: 10px;
  }
  .Control ul {
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%);
  }
  .Control ul li {
    width: 10px;
    height: 10px;
    background: #333;
    border: 2px solid #333;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
  }
  .Control ul li.Selected {
    background: transparent;
  }

  .animation{
      transform: translate(-25%);
      transition: all 0.3s;
  }
  