.WhySection{
    padding: 70px 0;
}

.LayoutPadding{

}

.Container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

.Row{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.Col_lg_8{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

}

.Offset_lg_2{

}

.Full{

}
form input {
    background: #fff;
    border: solid #ccc 1px;
    padding: 15px 15px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: capitalize;
    line-height: normal;
}
form textarea {
    background: #fff;
    border: solid #ccc 1px;
    padding: 15px 15px;
    width: 100%;
    min-height: 150px;
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: capitalize;
    line-height: normal;
}
@media (min-width: 576px){
    .Container {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .Container {
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .Container {
        max-width: 960px;
    }
    .Offset_lg_2{
        margin-left: 16.666667%;
    }
    .Col_lg_8{
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}
