.InnerPageHead{
    background: #f7444e;
    text-align: center;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 40px;
}

.ContainerFuild{

}

.Row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.Col_md_12{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.InnerPageHead h3 {
    font-size: 42px;
    font-weight: 800;
}
@media (min-width: 768px){
    .Col_md_12{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

}